.terminal-window{
  width: 80%;
  padding-top: 4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.terminal-menu{
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}

.terminal-buttons{
flex-basis: 33%;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 0.5em;
}

.terminal-title{
  flex-basis: 33%;
  display: flex;
  justify-content: center;

  .t-title{
    color: rgb(190, 190, 190);
  }
}

.t-button{
width: 16px;
height: 16px;
border-radius: 50%;
margin-right: .5em;
}

.button-close{
  background-color: #a33627;
}

.button-minimize{
  background-color: #a39c37;
}

.button-expand{
  background-color: #2f8f44;
}

.terminal-screen{
  background-color: #151515;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
}

.terminal-code{
  width: 97%;
  margin: 0 auto;
  line-height: .7em;
  color: #ffffff;
  flex-basis: 94%;
}

.response{
  line-height: .4em;
  font-size: .8em;
}

.t-dir{
  color:#51bfeb;
}

.t-arrow{
  color: #9876f7;
}

.t-par{
color: #29728f;
}

.t-git{
  color: #79f513;
}

.g-ch{
  color: #da8a14;
}

.terminal-line{
  color: #ffffff;
  font-size: .8em;
}

.tmux-bar{
  flex-basis: 5%;
  width: 98%;
  margin: 0 auto;
  background: rgb(46, 45, 45);
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #a3a3a3;
  font-size: .8em;
}

.tm-sessions{
  flex-basis: 80%;
  padding-left: 5px;
}

.tm-date{
  text-align: center;
  flex-basis: 10%;
  background: #5f5f5f;
  color: #2b2b2b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-time{
  text-align: center;
  flex-basis: 10%;
  background: #9c9c9c;
  color: #303030;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  width: 9px;
  height: 18px;
  vertical-align: text-top;
  background-color: #8b8b8b;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media only screen and (max-width: 768px) {
  .push-responses{
    display: none;
  }

  .terminal-code{
    line-height: 1.5em;
    font-size: .8em;
  }

  .terminal-title{
    .t-title{
      font-size: 10px;
    }
  }

  .tmux-bar{
    display: none;
  }

  .main-content{
    h1{
      font-size: 36px;
    }

    .information{
      font-size: 16px;
    }
  }

  .contact{
    .contact-title{
      font-size: 36px;
    }
  }
}