---
import "../styles/global.css";
import Home from "../components/pages/Home.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Welcome to Jean Barry's personal website. As a full-stack software developer, I specialize in frontend and backend development, creating dynamic and responsive web applications." />
		<title>Jean Barry | Developer</title>
	</head>
	<body>
		<Home />
	</body>
</html>
